
//Файл обнуляющих стилей
@import "nullstyle.scss";


@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
//font-family: 'PT Sans', sans-serif;

@import url('https://fonts.cdnfonts.com/css/post-no-bills-jaffna');
//font-family: 'Post No Bills Jaffna SemiBold', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
//font-family: 'Playfair Display', serif;


//Шрифты по умолчанию====================
$fontfamily:'Lato';
//=======================================

//=== Variables ===
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
//=== Variables ===








